body {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  background: url('background.png') no-repeat center center fixed;
  background-size: cover;
  color: #0a0041;
}

header {
  color: #fff;
  padding:0;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: center; /* header navi sa right  */
  align-items: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  flex-direction: flex-end;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  color: rgb(2, 2, 75);
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  font-size: 20px;
  font-weight: bold ;
  max-width: 800px;
  height: auto;
  border-radius: 5px;
  margin: auto;
  background: rgba(155, 219, 245, 0.9); /* White background with transparency */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
  margin-top: 70px;
  margin-bottom: 70px;
}

h2 {
  color:rgba(8, 3, 56, 0.856);
  font-size: 20px;
}
